<mat-toolbar color="primary" id="header">
	<div id="menu" *ngIf="mostrarMenu">
		<button mat-icon-button color="primary" aria-label="Botão menu">
			<mat-icon id="iconeMenu" color="primary" (click)="drawer.toggle()"> menu
			</mat-icon>
		</button>
	</div>
	<span id="smn-topo" class="">{{ title }}</span>
	<button mat-icon-button aria-label="Example icon-button with a heart icon" color="primary" *ngIf="mostrarMenu"
		(click)="notifyToggle()" [disabled]="notifications.length < 1">
		<mat-icon [matBadge]="activeNots" matBadgePosition="above after" color="primary">
			notification_important</mat-icon>
	</button>
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">
	<mat-drawer #drawer [mode]="'over'">
		<div id="nome-menu">
			<a>{{ usuario.nome }}</a>
		</div>
		<mat-list class="navs subheading-2">
			<nav>
				<mat-divider></mat-divider>
				<a routerLink="/cardapio" (click)="drawer.toggle();">
					<mat-list-item>Cardápio</mat-list-item>
				</a>
				<mat-divider></mat-divider>
				<nav id="admin" *ngIf="usuario.admin">
					<a routerLink="/cardapios" (click)="drawer.toggle();">
						<mat-list-item>Editar Cardapios</mat-list-item>
					</a>
					<mat-divider></mat-divider>
					<a routerLink="/trocas" (click)="drawer.toggle();">
						<mat-list-item>Pedidos de Troca</mat-list-item>
					</a>
					<mat-divider></mat-divider>
					<a routerLink="/usuario" (click)="drawer.toggle();">
						<mat-list-item>Cadastro de Usuário</mat-list-item>
					</a>
					<mat-divider></mat-divider>
				</nav>
				<a (click)="drawer.toggle(); feedback()">
					<mat-list-item>Sugestões</mat-list-item>
				</a>
				<mat-divider></mat-divider>
				<a routerLink="/cardapio" (click)="drawer.toggle(); logOut()">
					<mat-list-item>Sair</mat-list-item>
				</a>
				<mat-divider></mat-divider>
			</nav>
		</mat-list>
	</mat-drawer>
	<mat-drawer-content>
		<mat-card id="notCard" [ngStyle]="{'transform': notifyUser ? 'translateY(0%)' : 'translateY(-100%)'}">
			<div style="cursor: pointer" (click)="clearNots()">Remover Todas</div>
			<div *ngFor="let notification of notifications" (click)="readNot([notification._id])">
				<section class="notification-item"
					[ngStyle]="{'color': notification.state == 'created' ? 'white;' : 'rgba(255,255,255,.4)'}">
					{{notification.message}}
					<mat-icon mat-icon-button color="primary" (click)="deleteNot(notification._id, $event)">
						delete
					</mat-icon>
				</section>
				<mat-divider></mat-divider>
			</div>
		</mat-card>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>

<footer>
	<mat-toolbar id="footer" color="accent">
		Time de Estágio
	</mat-toolbar>
</footer>

<div id="progresso" *ngIf="progress">
	<mat-spinner color="accent"></mat-spinner>
</div>