<mat-toolbar color="primary" id="header">
  <div id="menu" *ngIf="mostrarMenu">
  	<button mat-icon-button color="primary" aria-label="Botão menu">
	  	<mat-icon id="iconeMenu" color="primary" (click)="drawer.toggle()">	menu
	  	</mat-icon>
	</button>
  </div>
  <span id="smn-topo" >{{ title }}</span>
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">  		<mat-drawer #drawer [mode]="over">
		<mat-list>
		  <mat-list-item>Cardápio</mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item>Sugestões</mat-list-item>
		  <mat-divider></mat-divider>
		  <mat-list-item>Sair</mat-list-item>
		</mat-list>
	</mat-drawer>     
	<mat-drawer-content>
		<router-outlet></router-outlet>

	
		<mat-toolbar color="accent" id="footer">
		    Time de Estágio
		</mat-toolbar>
    </mat-drawer-content>       
</mat-drawer-container>