<mat-toolbar color="primary" id="header">
  <div id="menu" *ngIf="mostrarMenu">
  	<button mat-icon-button color="primary" aria-label="Botão menu">
	  	<mat-icon id="iconeMenu" color="primary" (click)="drawer.toggle()">	menu
	  	</mat-icon>
	</button>
  </div>
  <span id="smn-topo" class="">{{ title }}</span>
</mat-toolbar>

<mat-drawer-container class="example-container" [hasBackdrop]="true">  		
	<mat-drawer #drawer [mode]="over">
		<div id="nome-menu">
			<a>{{ usuario.nome }}</a>
		</div>
		<mat-list class="navs subheading-2">
			<nav>
				<mat-divider></mat-divider>
		  		<a routerLink="/cardapio" (click)="drawer.toggle();"><mat-list-item>Cardápio</mat-list-item></a>
		  		<mat-divider></mat-divider>
		  		<nav id="admin">
		  			<a *ngIf="usuario.admin" routerLink="/cardapios" (click)="drawer.toggle();"><mat-list-item>Editar Cardapios</mat-list-item></a>
		  			<mat-divider></mat-divider>
		  			<a *ngIf="usuario.admin" routerLink="/trocas" (click)="drawer.toggle();"><mat-list-item>Pedidos de Troca</mat-list-item></a>
		  			<mat-divider></mat-divider>
	  			</nav>
		  		<a routerLink="/feedback" (click)="drawer.toggle();"><mat-list-item>Sugestões</mat-list-item></a>
		  		<mat-divider></mat-divider>
		  		<a routerLink="/cardapio" (click)="drawer.toggle(); logOut()"><mat-list-item>Sair</mat-list-item></a>
		  		<mat-divider></mat-divider>
			</nav>
		</mat-list>
	</mat-drawer>     
	<mat-drawer-content>
		<router-outlet></router-outlet>

	
		<mat-toolbar  id="footer" color="accent">
		    Time de Estágio
		</mat-toolbar>
    </mat-drawer-content>       
</mat-drawer-container> 

<div id="progresso" *ngIf="progress">
	<mat-spinner color="accent"></mat-spinner>
</div>