<section class="container" id="trocas">
	<h1 class="mat-display-3"> <span class="noMobile">Painel de </span>Trocas </h1>
	<mat-tab-group color="accent">

		<mat-tab *ngFor="let cardapio of cardapios" [label]="cardapio.nome_dia_da_semana">

			<mat-card class="dia-semana">
				<mat-accordion [multi]="true">
				  <mat-expansion-panel [disabled]="(trocas | filtroId:cardapio._id) | filtroTroca:cardapio.opcao1">
				    <mat-expansion-panel-header>
				      <mat-panel-title>

				        <strong>
				        	{{ cardapio.opcao1 }} <button class="badge" mat-mini-fab disabled>{{ contador(cardapio, cardapio.opcao1) }}</button>
				        </strong>

				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    <mat-list role="list">
				      <ng-container *ngFor="let troca of trocaFiltro(cardapio._id)" >
				      	<mat-list-item role="listitem" *ngIf=" troca.pratoPrincipal == cardapio.opcao1 ">
					  		{{ troca.user.nome }} 
					    </mat-list-item>
				      </ng-container>
					</mat-list>
				  </mat-expansion-panel>
				  <mat-expansion-panel [disabled]="(trocas | filtroId:cardapio._id) | filtroTroca:cardapio.opcao2">
				    <mat-expansion-panel-header>
				      <mat-panel-title>

				        <strong>
				        	{{ cardapio.opcao2 }} <button class="badge" mat-mini-fab disabled>{{ contador(cardapio, cardapio.opcao2) }}</button>
				        </strong>

				      </mat-panel-title>
				    </mat-expansion-panel-header>
				       <mat-list role="list">	
			    		  <ng-container *ngFor="let troca of trocaFiltro(cardapio._id)" >
					      	<mat-list-item role="listitem" *ngIf=" troca.pratoPrincipal == cardapio.opcao2 ">
						  		{{ troca.user.nome }}
						    </mat-list-item>
					      </ng-container>
				       </mat-list>
				  </mat-expansion-panel>
				  <mat-expansion-panel [disabled]="(trocas | filtroId:cardapio._id) | filtroTroca:'desistiu'">
				    <mat-expansion-panel-header>
				      <mat-panel-title>

				        <strong>
				        	Desistiu <button class="badge" mat-mini-fab disabled>{{ contador(cardapio, 'desistiu') }}</button>
				        </strong>

				      </mat-panel-title>
				    </mat-expansion-panel-header>
				    	<mat-list role="list">	
			    		  <ng-container *ngFor="let troca of trocaFiltro(cardapio._id)" >
					      	<mat-list-item role="listitem" *ngIf=" troca.pratoPrincipal == 'desistiu' ">
						  		{{ troca.user.nome }}
						    </mat-list-item>
					      </ng-container>
				       </mat-list>
				  </mat-expansion-panel>
				</mat-accordion>
			</mat-card>
			
		</mat-tab>
		
	</mat-tab-group>
</section>