<div class="container" id="feedback">
	<h1 class="mat-display-3"> Sugestões </h1>
	<mat-card>
		<mat-form-field color="accent" required>
		  <mat-label>Tipo de sugestão</mat-label>
		  <mat-select [(ngModel)]="sugestao.tipo">
		    <mat-option value="bug">
		    	Bugs
		    </mat-option>
		    <mat-option value="sugestao">
		    	Sugestão
		    </mat-option>
		  </mat-select>
		</mat-form-field>
		<mat-form-field color="accent" required>
		    <textarea [(ngModel)]="sugestao.mensagem" matInput placeholder="Nos diga como podemos melhorar"></textarea>
		    <mat-hint align="end">Esta gostando? Nos diga também.</mat-hint>
		</mat-form-field>
	</mat-card>
	<button mat-flat-button color="accent" (click)="enviar()"><strong>Enviar</strong></button>

</div>