<div class="container" id="cardapio">
	
	<h1 class="mat-display-3"> Cardapio </h1>

	<mat-tab-group color="accent">

		<mat-tab label="Segunda">

			<mat-card class="dia-semana">
			</mat-card>

		</mat-tab>

		<mat-tab label="Terça">

			<mat-card class="dia-semana">
			</mat-card>

		</mat-tab>

		<mat-tab label="Quarta">

			<mat-card class="dia-semana">
			</mat-card>

		</mat-tab>

		<mat-tab label="Quinta">

			<mat-card class="dia-semana">
			</mat-card>

		</mat-tab>

		<mat-tab label="Sexta">

			<mat-card class="dia-semana">
			</mat-card>

		</mat-tab>

	</mat-tab-group>
</div>
