<section class="container" id="cardapio">
	
	<h1 class="mat-display-3"> Cardápio </h1>

	<mat-tab-group color="accent">

		<mat-tab *ngFor="let cardapio of cardapios" [label]="cardapio.nome_dia_da_semana">

			<mat-card class="dia-semana">
				<table class="tab-cardapio">
					<tr><th>Prato Principal</th><td>
						<mat-form-field color="accent">
						    <mat-select [(ngModel)]="cardapio.escolha">
						      <mat-option value="{{ cardapio.pratoPrincipal }}" selected="selected">
						        {{ cardapio.pratoPrincipal }}
						      </mat-option>
						      <mat-option value="{{ cardapio.opcao1 }}">
						        {{ cardapio.opcao1 }}
						      </mat-option>
						      <mat-option value="{{ cardapio.opcao2 }}">
						        {{ cardapio.opcao2 }}
						      </mat-option>
						    </mat-select>
						</mat-form-field>
					</td></tr>
					<tr><th>Guarnição 1</th><td>{{ cardapio.guarnicao1 }}</td></tr>
					<tr><th>Guarnição 2</th><td>{{ cardapio.guarnicao2 }}</td></tr>
					<tr><th>Salada</th><td>{{ cardapio.salada }}</td></tr>
					<tr><th>Sobremesa</th><td>{{ cardapio.sobremesa }}</td></tr>
					<tr><th>Data</th><td>{{ cardapio.data }}</td></tr>
				</table>
				<section class="btn-wrap">
					<mat-checkbox [(ngModel)]="cardapio.check">Não vou almoçar aqui!</mat-checkbox>
					<button mat-flat-button color="accent" (click)="confirma(cardapio)"><strong>Confirmar</strong></button>	
				</section>
				
			</mat-card>
			
		</mat-tab>
		
	</mat-tab-group>
	
</section>
