#cardapio{
	margin: 0 auto;
}

.tab-cardapio{
	margin: 10px auto;
	text-align: center;
	line-height: 35px;
	font-size: 18px;
	padding: 2px;
}
.tab-cardapio th{ background-color: #10c853; padding: 0 10px; }
.tab-cardapio td{ background-color: #757575; padding: 0 10px; }
.mat-tab-group {width: 100%;}
.mat-display-3{margin-bottom: 0!important;}
button{ margin: 10px 0 0 auto; width: 120px;}
